body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: auto;
    max-height: 300px;
}
.content h2,
.content p {
    display: column;
    margin-right: 20px;
}

.background-container {
    position: relative;
    height: 100%;
    z-index: -2;
}

.background-container img {
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6); /* 60% transparent black overlay */
    position: absolute;/*helps the overlay content stick to the position of the overlay & image*/
    width: 100%;
    /*height: 100%;*/
    top: 0;
    left: 0;
    z-index: -1; /* Placing the overlay behind other content */
    height: 900px; /* Set the height to 100% of the viewport height */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Adding relative positioning to make z-index work */
    z-index: 1; /* To ensure the content appears above the overlay */
}

#navbar {
    background-color: none;
    position: fixed;
    width: 100%;
    top: 20px;
    transition: background-color 0.3s ease-in-out;
}

#navbar h1 {
    margin: 0;
    color: #1e1d1d;
    z-index: 2;
}

#navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

/*h2 {
    width: 60rem;
    font-size: 7rem;
    color: #fff;
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
    animation: bannerAnim 1s 2s backwards;
}*/

/*p {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ddd;
    margin-bottom: 3rem;
    animation: bannerAnim 1s 1.5s backwards;
}*/

#navbar ul li {
    margin-right: 30px;
}

#navbar ul li a {
    text-decoration: none;
    color: #afadad;
    transition: color 0.3s ease-in-out;
}

#navbar ul li a:hover {
    color: #e5eb46;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
/*.overlay {
    position: relative;
    height: 100vh; *//* Set the height to 100% of the viewport height */
/*}*/

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100% - 40px); /* Subtract the height of the button from the overlay height */
}

.overlay-content h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.overlay-content p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
    
}

.overlay-content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

/*the second portion: the columns*/
.features {
    display: flex;
    justify-content: space-between;
    
}
.getstarted2 button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #515050;
    color: #e6e2e2;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    top: 50px;
    left:50%;
    position: relative;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling */
}
.column1 {
    width: 35%;
    padding: 10px;
    border: none;
    margin-left: 10%;
    text-align: justify;
}
.column2 {
    width: 35%;
    padding: 10px;
    border: none;
    margin-right:10%;
    text-align: justify;
}
.features-heading {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 10px;
    color: #636262;
}

.features-subheading {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
    font-weight: 100;
    font-size: 16px;
    color: #636262;
}
/*
h3 {
    color: #333;
}

p {
    color: #666;
}*/
